# Python practice problems with for loops, dict, input

In [1]:
# Review Python "input" # this should help with assignments below

In [2]:
Olympic_year = input("Which year will be next summer Olympics? ")

Which year will be next summer Olympics? 2020

In [3]:
print(type(Olympic_year)) # it is string

<class 'str'>

In [4]:
print(type(int(Olympic_year))) # it is integer

<class 'int'>

1) Write a for loop to print "Hello" 10 times.

In [5]:
# Write code here ...
print ("Hello" * 10)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

2) Write a for loop to print even numbers in the range 1 .. 20

In [6]:
# Write code here ...
for i in range(1,21):
    if i % 2 == 0:
        print (i)

2
4
6
8
10
12
14
16
18
20

In [7]:
"""
3) Define a list of animals to be as follows:
animals = ["lion","tiger","elephant","giraffe","zebra"]

Now print animal names using for loop. The output should be as follows:
1 lion
2 tiger
3 elephant
4 giraffe
5 zebra
"""

'\n3) Define a list of animals to be as follows:\nanimals = ["lion","tiger","elephant","giraffe","zebra"]\n\nNow print animal names using for loop. The output should be as follows:\n1 lion\n2 tiger\n3 elephant\n4 giraffe\n5 zebra\n'

In [8]:
# Write code here ...
animals = ["lion","tiger","elephant","giraffe","zebra"]
for i, animal in enumerate(animals):
    print(i, animal)

0 lion
1 tiger
2 elephant
3 giraffe
4 zebra

In [9]:
"""
4) Visiting moon every year for next 10 years
The weight on moon can be estimated to be 18%  of weight on earth.
Write a program which will ask the user to enter current earth weight.
Then calculate weight on moon. Assume our weight increases by 2 pounds every year

Use for loop to print weight on moon each year when you visit.
"""

'\n4) Visiting moon every year for next 10 years\nThe weight on moon can be estimated to be 18%  of weight on earth.\nWrite a program which will ask the user to enter current earth weight.\nThen calculate weight on moon. Assume our weight increases by 2 pounds every year\n\nUse for loop to print weight on moon each year when you visit.\n'

In [10]:
# Write code here ...
Earth_weight = float(input("What is the current weight of the earth? "))
for i in range(11):
    Earth_weight=Earth_weight * 1.18
    print ("In year " + str(i)+ " The Moon weight " + str(Earth_weight * 0.18) + " pound.")

What is the current weight of the earth? 1.317e25
In year 0 The Moon weight 2.7973079999999995e+24 pound.
In year 1 The Moon weight 3.3008234399999995e+24 pound.
In year 2 The Moon weight 3.894971659199999e+24 pound.
In year 3 The Moon weight 4.5960665578559983e+24 pound.
In year 4 The Moon weight 5.423358538270078e+24 pound.
In year 5 The Moon weight 6.399563075158692e+24 pound.
In year 6 The Moon weight 7.551484428687255e+24 pound.
In year 7 The Moon weight 8.91075162585096e+24 pound.
In year 8 The Moon weight 1.0514686918504132e+25 pound.
In year 9 The Moon weight 1.2407330563834877e+25 pound.
In year 10 The Moon weight 1.4640650065325154e+25 pound.

5) Write a for loop to find the sum of all numbers from 1 to 100; 1 + 2 + ... + 99 + 100

In [11]:
# Write code here ...
sum = 0
for i in range(1, 101):
    sum = sum + i
print (sum)

5050

6) Write a for loop which will ask the user to input 4 numbers. The program should calculate sum of 4 numbers and print the sum.

In [12]:
# Write code here ..
num_list= input("enter four numbers:").split(" ")
if len(num_list) < 4:
    print ("Error !!! Number of numbers is less than 4")
else:
    sum = 0
    for i in num_list:
        sum = sum + int(i)
    print (sum)

enter four numbers:4 3 2 1
10

7) Write a Python for loop to find product of even number from 1 to 50;
2 x 4 x 6 x 8 x ... x 42 x 44 x 46 x 50

In [13]:
# Write code here ...
prod = 1
for i in range(1,51):
    if i % 2 == 0:
        prod = prod * i
print (prod)

520469842636666622693081088000000

8a) Find the index of minimum and maximum number in MyList.

In [14]:
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]

In [15]:
# Write code here ...
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]
min = max = myList[0]
max = 1
index1 = index2 = 0
for i in range(len(myList)):
    if myList[i] < min:
        min =  myList[i]
        index1 =  i
    if myList[i] > max:
        max = myList[i]
        index2 = i
print ("The minmum is " + str(min) + " located at " + str(index1))
print ("The maxmum is " + str(max) + " located at " + str(index2))

The minmum is 1 located at 106
The maxmum is 99 located at 169

8b) In myList, find top-5 highest frequency numbers. List the numbers and number of occurences.

In [16]:
# write code here ...
myList = [46, 84, 43, 75, 94, 7, 17, 76, 44, 17, 81, 21, 70, 56, 98, 88, 59, 58, 62, 77, 
          56, 19, 83, 82, 2, 38, 8, 57, 80, 54, 71, 74, 77, 18, 66, 25, 60, 29, 30, 11, 
          45, 60, 92, 44, 71, 49, 22, 74, 30, 58, 73, 60, 14, 97, 13, 78, 42, 17, 98, 14, 
          19, 79, 54, 56, 84, 81, 49, 18, 95, 36, 84, 77, 44, 69, 48, 94, 66, 13, 96, 7, 
          9, 47, 4, 37, 71, 51, 9, 28, 92, 38, 75, 66, 2, 34, 88, 4, 43, 75, 57, 83,
          63, 17, 25, 98, 71, 95, 1, 86, 97, 90, 6, 96, 11, 49, 16, 91, 50, 66, 54, 94,
          75, 69, 97, 23, 50, 13, 75, 15, 77, 17, 57, 59, 47, 44, 95, 28, 16, 72, 69, 7,
          14, 76, 10, 21, 56, 89, 51, 78, 25, 7, 8, 17, 53, 86, 58, 35, 46, 16, 74, 21, 9,
          4, 91, 59, 84, 50, 86, 60, 63, 99, 92, 64, 55, 40, 93, 39, 48, 96, 49, 98, 36,
          72, 82, 45, 62, 58, 77, 17, 42, 49, 38, 21, 84, 61, 77, 1, 37, 31, 50, 52, 58]
dic_count={}
for i in myList:
    if i not in dic_count:
        dic_count[i] = 1
    else:
        dic_count[i] += 1
       
dic_value_lists = (list(dic_count.values()))
dic_value_lists.sort(reverse=True)
    
dic_value_lists = list(set(dic_value_lists))
dic_value_lists.sort(reverse=True)

print (dic_value_lists, type(dic_value_lists))
for i in dic_count.items():
    if i[1] in dic_value_lists[0:5]:
        print ("Number " + str(i[0]) + " appears " + str(i[1]) + " times")

[7, 6, 5, 4, 3, 2, 1] <class 'list'>
Number 84 appears 5 times
Number 75 appears 5 times
Number 94 appears 3 times
Number 7 appears 4 times
Number 17 appears 7 times
Number 44 appears 4 times
Number 21 appears 4 times
Number 56 appears 4 times
Number 98 appears 4 times
Number 59 appears 3 times
Number 58 appears 5 times
Number 77 appears 6 times
Number 38 appears 3 times
Number 57 appears 3 times
Number 54 appears 3 times
Number 71 appears 4 times
Number 74 appears 3 times
Number 66 appears 4 times
Number 25 appears 3 times
Number 60 appears 4 times
Number 92 appears 3 times
Number 49 appears 5 times
Number 14 appears 3 times
Number 97 appears 3 times
Number 13 appears 3 times
Number 95 appears 3 times
Number 69 appears 3 times
Number 96 appears 3 times
Number 9 appears 3 times
Number 4 appears 3 times
Number 86 appears 3 times
Number 16 appears 3 times
Number 50 appears 4 times

9) Write a Python program to convert temperature from Centigrade to Fahrenheit
and Fahrenheit to Centigrade. At the start, the program should ask which way we are converting.

Then ask the user to input the temperature. Your program should do the conversion
and print the results.

(C x 9/5) + 32 = F

In [17]:
# Write code here 
# Write code here 
print (30 * '-')
print ("   M A I N - M E N U")
print (30 * '-')
print ("1. Centigrade to Fahrenhei")
print ("2. Fahrenheit to Centigradet")
print ("3. Exit")
print (30 * '-')
 
## Get input ###
choice = input('Enter your choice [1-3] : ')

### Convert string to int type ##
choice = int(choice)
 
### Take action as per selected menu-option ###
if choice == 1:
        temperature = float(input("Enter the temperature : "))
        print ("It is the " + str(temperature * 9 /5 + 32) +  " Fahrenhei." )
elif choice == 2:
        temperature = float(input("Enter the temperature : "))
        print ("It is the " + str((temperature -32) * 5 / 9) +  " Centigrade." )
else:   
        print ("Exited.")

------------------------------
   M A I N - M E N U
------------------------------
1. Centigrade to Fahrenhei
2. Fahrenheit to Centigradet
3. Exit
------------------------------
Enter your choice [1-3] : 2
Enter the temperature : 212
It is the 100.0 Centigrade.

In [18]:
"""
10) Print the times table:
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=3 4x2=6 4x3=9 4x4=12 4x5=15
5x1=3 5x2=6 5x3=9 5x4=12 5x5=15

Use for loop nested with for loop to print the above multiplication table
"""

'\n10) Print the times table:\n1x1=1 1x2=2 1x3=3 1x4=4 1x5=5\n2x1=2 2x2=4 2x3=6 2x4=8 2x5=10\n3x1=3 3x2=6 3x3=9 3x4=12 3x5=15\n4x1=3 4x2=6 4x3=9 4x4=12 4x5=15\n5x1=3 5x2=6 5x3=9 5x4=12 5x5=15\n\nUse for loop nested with for loop to print the above multiplication table\n'

In [19]:
# write code here 
for i in range(1, 6):
    for j in range(1, 6):
        print (str(i)+"x"+str(j)+"=" + str(i * j), end=" ")
    print ("\n")

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5

2x1=2 2x2=4 2x3=6 2x4=8 2x5=10

3x1=3 3x2=6 3x3=9 3x4=12 3x5=15

4x1=4 4x2=8 4x3=12 4x4=16 4x5=20

5x1=5 5x2=10 5x3=15 5x4=20 5x5=25