In [1]:
# Predicting Rain in Seattle using SVM Machine Learning Model SVM

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('seattleWeather_1948-2017.csv') 
print("Dataframe shape: ",df.shape,"\n") 
print(df.head())

Dataframe shape:  (25551, 5)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [4]:
df.describe()

               PRCP          TMAX          TMIN
count  25548.000000  25551.000000  25551.000000
mean       0.106222     59.544206     44.514226
std        0.239031     12.772984      8.892836
min        0.000000      4.000000      0.000000
25%        0.000000     50.000000     38.000000
50%        0.000000     58.000000     45.000000
75%        0.100000     69.000000     52.000000
max        5.020000    103.000000     71.000000

In [5]:
print(df[0:5])

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [6]:
print(df[-5:])

             DATE  PRCP  TMAX  TMIN   RAIN
25546  2017-12-10   0.0    49    34  False
25547  2017-12-11   0.0    49    29  False
25548  2017-12-12   0.0    46    32  False
25549  2017-12-13   0.0    48    34  False
25550  2017-12-14   0.0    50    36  False

In [7]:
pd.isnull(df).any(1).nonzero()[0] # Check the data for missing values

array([18415, 18416, 21067], dtype=int64)

In [8]:
df.drop(pd.isnull(df).any(1).nonzero()[0], inplace = True)

In [9]:
# Separating Independent Variable and Depend Variable
X = df.iloc[:, 1:4].values
y = df.iloc[:,4].values.astype(int)

In [10]:
X_header = ["PRCP", "TMAX", "TMIN"]
df_Xy =pd.DataFrame(X, columns=X_header)
df_Xy["RAIN"] = y

In [11]:
df_Xy.describe()

               PRCP          TMAX          TMIN          RAIN
count  25548.000000  25548.000000  25548.000000  25548.000000
mean       0.106222     59.543056     44.513387      0.426648
std        0.239031     12.773265      8.893019      0.494600
min        0.000000      4.000000      0.000000      0.000000
25%        0.000000     50.000000     38.000000      0.000000
50%        0.000000     58.000000     45.000000      0.000000
75%        0.100000     69.000000     52.000000      1.000000
max        5.020000    103.000000     71.000000      1.000000

In [12]:
df_Xy.corr()

          PRCP      TMAX      TMIN      RAIN
PRCP  1.000000 -0.226736 -0.064365  0.515160
TMAX -0.226736  1.000000  0.860675 -0.389241
TMIN -0.064365  0.860675  1.000000 -0.139905
RAIN  0.515160 -0.389241 -0.139905  1.000000

In [13]:
df.describe()

               PRCP          TMAX          TMIN
count  25548.000000  25548.000000  25548.000000
mean       0.106222     59.543056     44.513387
std        0.239031     12.773265      8.893019
min        0.000000      4.000000      0.000000
25%        0.000000     50.000000     38.000000
50%        0.000000     58.000000     45.000000
75%        0.100000     69.000000     52.000000
max        5.020000    103.000000     71.000000

In [14]:
# Splitting the dataset for Training and Predicting
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size = 0.30)

In [15]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler(feature_range=(0,1))
X_train =  ms.fit_transform(X_train)
X_test =  ms.transform(X_test)

In [16]:
#Fitting the Classifier
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [17]:
y_pred =  classifier.predict(X_test) #Predicting the results

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred) #Confusion matrix

In [19]:
print('The model has correctly predicted that there will be no rain for', cm[0,0], 'days')
print('The model has correctly predicted that there will be rain for', cm[1,1], 'days')

The model has correctly predicted that there will be no rain for 4336 days
The model has correctly predicted that there will be rain for 2198 days

In [20]:
#Cross Validatrion
from sklearn.model_selection import cross_val_score
scores =  cross_val_score(classifier, X_train, y_train, cv = 5)
scores.mean()

0.8645642107001645

In [21]:
# We got 86% accuracy predication